# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = newsletter.scraper.settings




[scrapyd]
application = scrapy_heroku.app.application

[deploy]
url = http://fierce-ravine-53400.herokuapp.com:80/
project = newsletter.scraper
username = popovvasile
password = ahiles1395