{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% csrf_token %}


{% block content %}
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class='row'>
<div class='col-md-6 col-md-offset-3'>
<h1>Logare</h1>
<form method="post" action=".">
  {% csrf_token %}
  {{ form|crispy }}

  <input class='btn btn-block btn-primary' type="submit" value="{% trans 'Submit' %}" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>
</div>
    
</div>
<div class="space"></div>
<hr/>
<div class='row'>
<div class='col-md-6 col-md-offset-3 text-align-center'>
<p>{% trans "Ai uitat parola" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Resetare" %}</a>!</p>
<p>{% trans "Nu ești înregistrat" %}? <a href="{% url 'registration_register' %}">{% trans "Înregistrare" %}</a>!</p>
</div>
</div>

{% endblock %}
