{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block content %}<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class="space"></div>
<div class='col-sm-6 col-sm-offset-3'>
<h1>Resetare parolă</h1>
<h4 class='lead'>Resetați parola utilizînd email-ul de mai jos:</h4>
<form method="post" action=".">
  {% csrf_token %} 
    {{ form|crispy }}

  <input class='btn btn-primary' type="submit" value="{% trans 'Reset' %}" />
</form>
</div>
{% endblock %}


