{% load staticfiles %}
{% load crispy_forms_tags %}
{% load comments %}
<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
	{% include 'head.html' %}

	<body class="no-trans">
		<!-- scrollToTop -->
		<!-- ================ -->
        {% include 'navbar.html' %}
		<div class="scrollToTop"><i class="icon-up-open-big"></i></div>
        
		<!-- header start -->
		<!-- header end -->
       <!-- Add Petition-->
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
<div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-md-12">

                <!-- Blog Post -->

                <!-- Title -->
                <h2 id="news-title">{{ petition.question }}</h2>        
                <hr>

                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span> Postat pe <span id="news-date-post">{{ petition.pub_date }}</span></p>

                <hr>

                <!-- Preview Image -->
                <img class="img-responsive center-block" src="{{ petition.image.url }}" alt="">

                <hr>

                <!-- Post Content -->
                <p class="h3-bold">Descriere</p>
                <p class="lead">{{ petition.content }}</p>

                <hr>

                <p class="h3-bold">Impact</p>
                <p class="lead">{{ petition.impact }}</p>

                <hr>
                <p class="h3-bold">Soluție</p>
                <p class="lead">{{ petition.solution }}</p>

                <hr>

{% if request.user.is_authenticated %}
{% if error_message %}
<div class="aler alert-danger">{{ error_message }}</div>  

{% else %}
<div class="container">
<div class="row" id="row-voting">
    <form action="{% url 'petitions:petition_yes_vote' petition.id %}" method="post">
    {% csrf_token %}
    <button class="btn btn-success" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" > 
    <label >SUNT DE ACORD</label>
    </form>
</div>
    
<div class="row" id="row-voting">   
    <form action="{% url 'petitions:petition_no_vote' petition.id %}" method="post">
    {% csrf_token %}
    <button class="btn btn-danger" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" > 
    <label >NU SUNT DE ACORD</label>
    </form>

 </div>
    </div>
 {% endif %}
{% else %}
<div class='container'>
    <div class="row" style="font-size: 18px;">
            <p class="h4">Vă rugăm să vă autentificaţi:</p>
            <a href="http://initiativa.org/accounts/register/"><button name="button" class="btn btn-primary btn-responsive">Înregistraţi-vă</button></a> sau <a href="http://initiativa.org/accounts/login/"><button name="button" class="btn btn-primary btn-responsive">Accesaţi contul</button></a>
    </div>
</div>
{% endif %}




{% load comments %}

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fluent_comments/css/ajaxcomments.css" />
<script type="text/javascript" src="{{ STATIC_URL }}fluent_comments/js/ajaxcomments.js"></script>

{% render_comment_list for petition %}
{% render_comment_form for petition %}


                

                <!-- Posted Comments -->




            </div>

          

        </div>
        <!-- /.row -->

       <div class="space"></div>

    </div>
		<!-- footer end -->

		<!-- JavaScript files placed at the end of the document so the pages load faster
		================================================== -->
		<!-- Jquery and Bootstap core js files -->
{% include 'subfooter.html' %}
	</body>
</html>







