<!-- JavaScript files placed at the end of the document so the pages load faster
================================================== -->
{% load staticfiles %}

               <!-- Jquery and Bootstap core js files -->
               <script type="text/javascript" src="{% static 'plugins/jquery.min.js'%}"></script>
               <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
               <!-- Modernizr javascript -->
               <script type="text/javascript" src="{% static 'plugins/modernizr.js'%}"></script>
               <!-- Isotope javascript -->
               <script type="text/javascript" src="{% static 'plugins/isotope/isotope.pkgd.min.js'%}"></script>
               <!-- Backstretch javascript -->
               <script type="text/javascript" src="{% static 'plugins/jquery.backstretch.min.js'%}"></script>
               <!-- Appear javascript -->
               <script type="text/javascript" src="{% static 'plugins/jquery.appear.js'%}"></script>
               <!-- Initialization of Plugins -->
               <script type="text/javascript" src="{% static 'js/template.js'%}"></script>
               <!-- Custom Scripts -->
               <script type="text/javascript" src="{% static 'js/custom.js'%}"></script>